*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

:root{
    --hd: rgb(46, 76, 131);
    --bg: rgb(48, 185, 192);
    --ft: rgb(255, 247, 247);
    --dk: rgb(54, 51, 51);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/SyE_byU0QRGqLUQCDjqyXw.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#login {
    width: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 2px 1px #555;
    border-radius: 10px;
    min-width: 500px;
    background-color: #8888886b;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

#text p {
    font-size: 30px;
    color: var(--ft);
}

#login-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-input input {
    width: 30vw;
    height: 40px;
    margin: 7px;
    padding: 10px;
    font-size: medium;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#login-input input:focus{
    border: 2px solid rgba(255, 166, 0, 0.539);
}


#logo,
#text {
    margin-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo img {
    padding: 10px;
    width: 150px;
    background: linear-gradient(180deg, var(--bg), var(--hd));
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button{
   display: flex;
   justify-content: center;
   align-items: center;
}

#button button{
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--hd);
    color: var(--ft);
    border-radius: 5px;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 500ms ease;
}

#button button:hover{
    background-color: #405a40;
    color: #cec6c6;
}

@media screen and (max-width: 970px) {
    #logo img{
        width: 120px;
    }

    #text p{
        font-size: 25px;
    }

    #login-input input{
        width: 35vw;
    }

    #login{
        width: 60vw;
    }
}

@media screen and (max-width: 740px) {
    #logo img{
        width: 90px;
    }

    #text p{
        font-size: 20px;
    }

    #login-input input {
        width: 43vw;
        font-size: 15px;
    }
}