*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

:root{
    --hd: rgb(46, 76, 131);
    --bg: rgb(48, 185, 192);
    --ft: rgb(255, 247, 247);
    --dk: rgb(54, 51, 51);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/SyE_byU0QRGqLUQCDjqyXw.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}


#new-password {
    background-color: #538da15f;
    height: 60%;
    width: 70%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 2px 1px #333;
    margin-top: 5px;
    border-radius: 5px;
}

@media (max-width: 730px){
    #new-password{
        width: 95%;
        margin-inline: auto;
    }
}

#logo,
#text {
    margin-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo img {
    padding: 7px;
    width: 150px;
    background: linear-gradient(180deg, var(--bg), var(--hd));
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-container {
    position: relative;
    top: 15px;
}

.password-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.password-input input {
    width: 60%;
    max-width: 500px;
    min-width: 450px;
    padding: 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #d5dedf;
    outline: none;
}

input:focus{
    border: 2px solid orange;
}

::placeholder{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.toggle-password {
    position: relative;
    right: 30px;
    top: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    
}

.toggle-password::before {
    content: "\f06e";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.toggle-password.show-password::before {
    content: "\f06e"; /* Closed eye icon */
}

.toggle-password.hide-password::before {
    content: "\f070"; /* Open eye icon */
}

#submit-btn{
    margin-inline: auto;
}

#submit-btn button{
   width: 90px;
   font-size: 15px;
   font-weight: bold;
   color: rgb(219, 219, 184);
   background-color: var(--hd);
   border-radius: 5px;
   border: none;
   padding: 15px 5px;
}

@media screen and (max-width: 730px) {
    #logo img{
        width: 100px;
    }
}