*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

:root{
    --hd: rgb(46, 76, 131);
    --bg: rgb(48, 185, 192);
    --ft: rgb(255, 247, 247);
    --dk: rgb(54, 51, 51);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/SyE_byU0QRGqLUQCDjqyXw.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

form{
  margin-top: 70px;
  margin-block: auto;
}

#password-recovery {
    width: 50%;
    display: flex;
    height:60%;
    flex-direction: column;
    box-shadow: 1px 1px 2px 1px #333;
    border-radius: 10px;
    background-color: #6592a254;
}

#logo,
#text {
    margin-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo img {
  padding: 7px;
    width: 130px;
    background: linear-gradient(180deg, var(--bg), var(--hd));
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #5f5f6f;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  padding: 2px 10px;
}

#token-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  #token-input label{
    color: var(--ft);
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5f5f6f;
    background-color: #fff;
    padding: 2px 15px;
    border-radius: 0 0 5px 5px;
  }
  
  .token-fields {
    display: flex;
    justify-content: center;
  }
  
  .token-field {
    border: none;
    width: 50px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    margin: 5px;
    border-radius: 4px;
    color: rgb(87, 15, 15);
    font-weight: bold;
    font-size: 20px;
  }
  
  .token-field:focus {
    outline: none;
    border: 2px solid orange;
    background-color: rgb(241, 241, 241);
  }

  #resend span:nth-child(2):hover{
      text-decoration: underline;
  }

  #button {
    display: flex;
    justify-content: center;
  }

#button button{
  border-radius: 5px;
  padding: 15px 10px;
  font-weight: bolder;
  background-color: blueviolet;
  color: bisque;
  border: none;
  transition: all 500ms ease;
}

#button button:hover{
  background-color: bisque;
  color: blueviolet;
}

@media screen and (max-width: 635px) {
  #password-recovery{
    width: 65vw;
  }
  
  #logo img{
    width: 100px;
  }


}