<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile options</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/scrollbar-design.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/link.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="logo">
            <img loading="lazy" src="/img/vixeloe-logo2b-removebg-preview.png" alt="vixeloe">
        </div>

        <div id="search">
            <input type="text" placeholder="Search for brands and products...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

        
        <div id="svx">
            <div class="hmxX">
                <a href="/index">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg>
                </a>
            </div>
            <div id="sellX">
                <a href="/sell">
                    <div>
                        <div class="hmxX">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M856-390 570-104q-12 12-27 18t-30 6q-15 0-30-6t-27-18L103-457q-11-11-17-25.5T80-513v-287q0-33 23.5-56.5T160-880h287q16 0 31 6.5t26 17.5l352 353q12 12 17.5 27t5.5 30q0 15-5.5 29.5T856-390ZM513-160l286-286-353-354H160v286l353 354ZM260-640q25 0 42.5-17.5T320-700q0-25-17.5-42.5T260-760q-25 0-42.5 17.5T200-700q0 25 17.5 42.5T260-640Zm220 160Z"/></svg>
                        </div>
                    </div>
                    <div id="fam">Sell</div>
                </a>
            </div>
            <div id="toggle">
                <div id="togglebar"><i class="fa-solid fa-bars"></i></div>
                <div id="toggle-content">
                    <div id="cnl1" style="color: #fff">✖</div>
                    <div id="brands" class="vive">
                        <div id="brands-btnX">Brands▼</div>
                        <div id="hidden-brandsX">
                            <div id="cnlX">✖</div>
                            <a href="">Samsung</a>
                            <a href="">iPhone</a>
                            <a href="">Infinix</a>
                            <a href="">Tecno</a>
                            <a href="">Lenovo</a>
                            <a href="">Itel</a>
                            <a href="">Huawei</a>
                            <a href="">Gionee</a>
                            <a href="">Oppo</a>
                            <a href="">Sony</a>
                        </div>
                    </div>
                    <div class="vive">
                        <a href="/listings">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M360-240h440v-107H360v107ZM160-613h120v-107H160v107Zm0 187h120v-107H160v107Zm0 186h120v-107H160v107Zm200-186h440v-107H360v107Zm0-187h440v-107H360v107ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Z"/></svg>
                        </a>
                    </div>
                    <div id="notification" class="vive"><a href="/notifications"><i class="fa-solid fa-bell"></i></a></div>
                </div>
            </div>
        </div>

        <div id="nav">
            <div id="brands">
                <div id="brands-btn">Brands▼</div>
                <div id="hidden-brands">
                    <div id="cnl">✖</div>
                    <a href="">Samsung</a>
                    <a href="">iPhone</a>
                    <a href="">Infinix</a>
                    <a href="">Tecno</a>
                    <a href="">Lenovo</a>
                    <a href="">Itel</a>
                    <a href="">Huawei</a>
                    <a href="">Gionee</a>
                    <a href="">Oppo</a>
                    <a href="">Sony</a>
                </div>
            </div>
            <div id="ads">
                <a href="/listings">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#30b9c0"><path d="M360-240h440v-107H360v107ZM160-613h120v-107H160v107Zm0 187h120v-107H160v107Zm0 186h120v-107H160v107Zm200-186h440v-107H360v107Zm0-187h440v-107H360v107ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Z"/></svg>
                </a>
            </div>
            <div id="sell">
                <a href="/sell">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M856-390 570-104q-12 12-27 18t-30 6q-15 0-30-6t-27-18L103-457q-11-11-17-25.5T80-513v-287q0-33 23.5-56.5T160-880h287q16 0 31 6.5t26 17.5l352 353q12 12 17.5 27t5.5 30q0 15-5.5 29.5T856-390ZM513-160l286-286-353-354H160v286l353 354ZM260-640q25 0 42.5-17.5T320-700q0-25-17.5-42.5T260-760q-25 0-42.5 17.5T200-700q0 25 17.5 42.5T260-640Zm220 160Z"/></svg>
                    </div>
                    <div>Sell</div>
                </a>
            </div>
            <div id="notification"><a href="/notifications"><i class="fa-solid fa-bell"></i></a></div>
        </div>
    </header>

    <main>
        <div class="container">
            <a href="/profile">
                <span><i class="fa-solid fa-user"></i></span>&nbsp;
                <span>Account</span>
            </a>
            <a href="/settings">
                <span><i class="fa-solid fa-gear"></i></span>&nbsp;
                <span>Settings</span>
            </a>
        </div>
    </main>

    <script src="/js/toggle.js"></script>
</body>
<html>