<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <style>
        body{
            max-height: 100vh;
            display: flex;
            justify-content: center;
            padding-top: 180px;
            background-color: #eaeaea;
        }
        main{
            width: fit-content;
            text-align: center;
            background-color: #fff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 2px 2px 5px #888;
            color: #444;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }
        
        button{
            border: none;
            padding: 15px 20px;
            border-radius: 5px;
            font-size: 16px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            cursor: pointer;
            transition: all 500ms ease;
            box-shadow: 1px 1px 5px #333;
            color: #222;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        button:hover{
            background-color: #888;
        }

    </style>
</head>
<body>
    <main>
        <h1>ERROR 404</h1>
        <p>The page you're looking for is not available.</p>
        <button>Go back</button>
    </main>
</body>
</html>