<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell on minoe</title>
    <link rel="stylesheet" href="/css/sell.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/scrollbar-design.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <header>
        <div id="logo">
            <a href="/index"><img src="/img/vixeloe-logo2b-removebg-preview.png" alt=""></a>
        </div>

        <div id="search">
            <input type="text" placeholder="Search for brands and products...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>


        <div id="svx">
            <div class="hmx">
                <a href="/index">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="purple"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg>
                </a>
            </div>
            <div id="toggle">
                <div id="togglebar"><i class="fa-solid fa-bars"></i></div>
                <div id="toggle-content">
                    <div id="cnl1" style="color: #fff">✖</div>
                    <div id="brands" class="vive">
                        <div id="brands-btnX">Brands▼</div>
                        <div id="hidden-brandsX">
                            <div id="cnlX">✖</div>
                            <a href="">Samsung</a>
                            <a href="">iPhone</a>
                            <a href="">Infinix</a>
                            <a href="">Tecno</a>
                            <a href="">Lenovo</a>
                            <a href="">Itel</a>
                            <a href="">Huawei</a>
                            <a href="">Gionee</a>
                            <a href="">Oppo</a>
                            <a href="">Sony</a>
                        </div>
                    </div>
                    <div class="vive">
                        <a href="/listings">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M360-240h440v-107H360v107ZM160-613h120v-107H160v107Zm0 187h120v-107H160v107Zm0 186h120v-107H160v107Zm200-186h440v-107H360v107Zm0-187h440v-107H360v107ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Z"/></svg>
                        </a>
                    </div>
                    <div id="notification" class="vive"><a href=""><i class="fa-solid fa-bell"></i></a></div>
                </div>
            </div>
        </div>

        <div id="nav">
            <div class="hmxX">
                <a href="/index">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg>
                </a>
            </div>

            <div id="brands">
                <div id="brands-btn">Brands▼</div>
                <div id="hidden-brands">
                    <div id="cnl">✖</div>
                    <a href="">Samsung</a>
                    <a href="">iPhone</a>
                    <a href="">Infinix</a>
                    <a href="">Tecno</a>
                    <a href="">Lenovo</a>
                    <a href="">Itel</a>
                    <a href="">Huawei</a>
                    <a href="">Gionee</a>
                    <a href="">Oppo</a>
                    <a href="">Sony</a>
                </div>
            </div>
            <div id="ads">
                <a href="/listings">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#30b9c0"><path d="M360-240h440v-107H360v107ZM160-613h120v-107H160v107Zm0 187h120v-107H160v107Zm0 186h120v-107H160v107Zm200-186h440v-107H360v107Zm0-187h440v-107H360v107ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Z"/></svg>
                </a>
            </div>
            <div id="notification"><a href="./notification.html"><i class="fa-solid fa-bell"></i></a></div>
        </div>
    </header>
    <main>
        <div class="content">
            <p class="topic">Publish an Item <svg id="svgupload" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M440-160v-326L336-382l-56-58 200-200 200 200-56 58-104-104v326h-80ZM160-600v-120q0-33 23.5-56.5T240-800h480q33 0 56.5 23.5T800-720v120h-80v-120H240v120h-80Z"/></svg></p>

            <h2>Publish as:-</h2>
            <div class="publish-opt">
                <div id="popt-1" class="optionF">Business</div>
                <div id="popt-2" class="optionF">Individual</div>
            </div>

            <div class="option-field" id="option-field">
                <input type="text" placeholder="Business name" required>
                <input type="address" placeholder="Address">
            </div>


            <p class="headText">ITEM DETAILS</p>

            <div class="cate">
                <p class="bold">CATEGORY</p>
                    <div class="bag">
                        <div><input type="radio" name="category" value="phone" id="phone"><label for="phone">Phones</label></div>
                        <div><input type="radio" name="category" value="accessories" id="accessories"><label for="accessories">Accessories</label></div>
                    </div>
            </div>

            <div class="title">
                <p class="bold"><label for="">TITLE</label></p>
                <div class="bag">
                    <input type="text" name="title" class="hold" placeholder="Enter item name">
                </div>
            </div>

            <div id="price">
                <p class="bold"><label for="">PRICE</label></p>
                <div class="bag">
                    <span>₦</span><input type="number" name="price" class="hold" placeholder="Enter price">
                </div>
            </div>

            <div id="location">
                <p>LOCATION</p>
                <div class="select-wrapper">
                  <select name="location" id="locaTion" aria-label="Select a location">
                    <option value="" disabled selected hidden>Select Location</option>
                    <option value="loc1">Location 1</option>
                    <option value="loc2">Location 2</option>
                    <!-- more options -->
                  </select>
                </div>
              </div>

            <div class="picDiv">
                <p class="bold">PICTURES</p>
                    <div class="picMethod">
                        <div class="picDivX">
                            <div class="camera log">
                                <input type="file" name="camera" id="camEra" style="display: none;" accept="image/*" capture="camera">
                                <label for="camEra">
                                    <div class="camIcon"><i class="fa-solid fa-camera"></i></div>
                                    <div class="camText">Take picture(s)</div>
                                </label>
                            </div>
                            <div class="gallery log">
                                <input type="file" name="gallery" id="gallEry" style="display: none;" multiple accept="image/*">
                                <label for="gallEry">
                                    <div class="uploadIcon"><i class="fa-solid fa-upload"></i></div>
                                    <div class="uploadText">Upload file(s)</div>
                                </label>
                            </div>
                        </div>
                        <div class="picImg">
                            <div id="divImg1">
                                <!-- Uploaded images would be added dynamically -->
                            </div>
                        </div>
                    </div>
            </div>

        </div>

        <div class="phoneDiv" id="phoneDiv">
            <div class="phoneBrands">
                <p class="bold">BRANDS</p>
                <div class="phoneBrandsSelect">
                    <div class="phBrs1 vvh">
                        <div class="pad"><input type="radio" name="brands" id="tecno"><label for="tecno">Tecno</label></div>
                        <div class="pad"><input type="radio" name="brands" id="infinix"><label for="infinix">Infinix</label></div>
                        <div class="pad"><input type="radio" name="brands" id="samsung"><label for="samsung">Samsung</label></div>
                        <div class="pad"><input type="radio" name="brands" id="lenovo"><label for="lenovo">Lenovo</label></div>
                        <div class="pad"><input type="radio" name="brands" id="iphone"><label for="iphone">iPhone</label></div>
                    </div>
                    <div class="phBrs2 vvh">
                        <div class="pad"><input type="radio" name="brands" id="nokia"><label for="nokia">Nokia</label></div>
                        <div class="pad"><input type="radio" name="brands" id="itel"><label for="itel">Itel</label></div>
                        <div class="pad"><input type="radio" name="brands" id="oppo"><label for="oppo">Oppo</label></div>
                        <div class="pad"><input type="radio" name="brands" id="redmi"><label for="redmi">Redmi</label></div>
                        <div class="pad"><input type="radio" name="brands" id="sony"><label for="sony">Sony</label></div>
                    </div>
                </div>
            </div>

            <div class="rlsdt -mnk">
                <label for="" class="bold">Release Date</label>
                <input type="date" name="" id="">
            </div>

            <div class="dimensions">
                <label for="" class="bold">Dimensions(mm)</label>
                <div class="dmns">
                    <label for="">Length</label>
                    <input type="number" id="lgh1">
                </div>
                <div class="dmns">
                    <label for="">Width</label>
                    <input type="number" id="lgh2">
                </div>
                <div class="dmns">
                    <label for="">Breadth</label>
                    <input type="number" id="lgh3">
                </div>
            </div>

            <div class="weight -mnk">
                <label for="" class="number">Weight(kg)</label>
                <input type="text">
            </div>

            <br>

            <div class="b-mat">
                <label for="" class="bold">Build Material</label>
                <div class="-mnk">
                    <div class="-ins">
                        <label for="">Aluminum</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="-ins">
                        <label for="">Stainless Steel</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="-ins">
                        <label for="">Glass</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="-ins">
                        <label for="">Plastic (Polycarbonate)</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="-ins">
                        <label for="">Ceramic</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="-ins">
                        <label for="">Titanium</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="-ins">
                        <label for="">Carbon Fibre</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="-ins">
                        <label for="">Magnesium Alloy</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="-ins">
                        <label for="">Kevlar</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="-ins">
                        <label for="">Liquid Metal (Amorphous Metal Alloy)</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="-ins">
                        <label for="">Wood</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="-ins">
                        <label for="">Leather</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="-ins">
                        <label for="">Synthtic Composites</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="-ins">
                        <label for="">Graphene</label>
                        <input type="checkbox" name="" id="">
                    </div>
                </div>
            </div>

            <br>

            <div class="display-sizen -mnk">
                <label for="" class="bold">Display Size (inches)</label>
                <input type="number" name="" id="">
            </div>

            <br>

            <div class="rspx">
                <p class="bold">Resolution</p>
                <div class="dmns">
                    <label for="">Pixel Width</label>
                    <input type="number">
                </div>
                <div class="dmns">
                    <label for="">Pixel Height</label>
                    <input type="number">
                </div>
            </div>

            <br>

            <div class="select-container">
                <label for="displayType" class="bold">Display Type</label>
                <select id="displayType" name="displayType">
                    <option value="" disabled selected>Select display type</option>
                    <optgroup label="LCD Displays">
                        <option value="tft-lcd">TFT-LCD (Thin Film Transistor LCD)</option>
                        <option value="ips-lcd">IPS-LCD (In-Plane Switching LCD)</option>
                    </optgroup>
                    <optgroup label="OLED Displays">
                        <option value="oled">OLED (Organic Light-Emitting Diode)</option>
                        <option value="amoled">AMOLED (Active Matrix OLED)</option>
                        <option value="super-amoled">Super AMOLED</option>
                        <option value="p-oled">P-OLED (Plastic OLED)</option>
                    </optgroup>
                    <optgroup label="Specialty Displays">
                        <option value="retina">Retina Display</option>
                        <option value="microled">MicroLED</option>
                        <option value="qled">Quantum Dot Display (QLED)</option>
                        <option value="e-ink">E-ink (Electronic Ink)</option>
                    </optgroup>
                </select>
            </div>

            <br>

            <div class="rfsh">
                <label for="refreshRate" class="bold">Refresh Rate</label>
                <select id="refreshRate" name="refreshRate">
                    <option value="" disabled selected>Select refresh rate</option>
                    <option value="60hz">60 Hz</option>
                    <option value="90hz">90 Hz</option>
                    <option value="120hz">120 Hz</option>
                    <option value="144hz">144 Hz</option>
                    <option value="240hz">240 Hz</option>
                </select>
            </div>

            <div>
                <fieldset>
                    <p class="bold">Processors</p>  
                    <div>                  
                        <label>
                            Intel Core i3
                            <input type="checkbox" name="processor" value="intel-i3">
                        </label>                
                        <label>
                            Intel Core i5
                            <input type="checkbox" name="processor" value="intel-i5">
                        </label>                   
                        <label>
                            Intel Core i7
                            <input type="checkbox" name="processor" value="intel-i7">
                        </label>               
                        <label>
                            Intel Core i9
                            <input type="checkbox" name="processor" value="intel-i9">
                        </label>               
                        <label>
                            AMD Ryzen 3
                            <input type="checkbox" name="processor" value="amd-ryzen-3">
                        </label>
                        <label>
                            AMD Ryzen 5
                            <input type="checkbox" name="processor" value="amd-ryzen-5">
                        </label>                   
                        <label>
                            AMD Ryzen 7
                            <input type="checkbox" name="processor" value="amd-ryzen-7">
                        </label>                    
                        <label>
                            AMD Ryzen 9
                            <input type="checkbox" name="processor" value="amd-ryzen-9">
                        </label>                   
                        <label>
                            Apple M1
                            <input type="checkbox" name="processor" value="apple-m1">
                        </label>                   
                        <label>
                                Qualcomm Snapdragon 8xx series
                            <input type="checkbox" name="processor" value="qualcomm-snapdragon-8xx">
                        </label>                    
                        <!-- Add more options as needed -->    
                    </div>                
                </fieldset>
            </div>

            <br>

            <div>
                <fieldset>
                    <p class="bold">Graphical Processing Unit (GPU):</p>                  
                    <div>
                        <label>
                            NVIDIA GeForce RTX 3060
                            <input type="checkbox" name="gpu" value="nvidia-rtx-3060">
                        </label>                    
                        <label>
                            NVIDIA GeForce RTX 3070
                            <input type="checkbox" name="gpu" value="nvidia-rtx-3070">
                        </label>                  
                        <label>
                            NVIDIA GeForce RTX 3080
                            <input type="checkbox" name="gpu" value="nvidia-rtx-3080">
                        </label>                  
                        <label>
                            AMD Radeon RX 6700 XT
                            <input type="checkbox" name="gpu" value="amd-rx-6700xt">
                        </label>                   
                        <label>
                            AMD Radeon RX 6800
                            <input type="checkbox" name="gpu" value="amd-rx-6800">
                        </label>                   
                        <label>
                            AMD Radeon RX 6900 XT
                            <input type="checkbox" name="gpu" value="amd-rx-6900xt">
                        </label>                   
                        <label>
                            Apple GPU (integrated)
                            <input type="checkbox" name="gpu" value="apple-gpu">
                        </label>                   
                        <label>
                            Qualcomm Adreno series (integrated)
                            <input type="checkbox" name="gpu" value="qualcomm-adreno">
                        </label>
                        
                        <!-- Add more options as needed -->
                    </div>    
                </fieldset>
            </div>

            <div class="ramDiv">
                <p class="bold">RAM (Working Memory)</p>
                <div class="ramList">
                    <div class="pad"><input type="radio"><label for="">1GB</label></div>
                    <div class="pad"><input type="radio"><label for="">2GB</label></div>
                    <div class="pad"><input type="radio"><label for="">3GB</label></div>
                    <div class="pad"><input type="radio"><label for="">4GB</label></div>
                    <div class="pad"><input type="radio"><label for="">6GB</label></div>
                    <div class="pad"><input type="radio"><label for="">8GB</label></div>
                    <div class="pad"><input type="radio"><label for="">16GB</label></div>
                </div>
            </div>

            <br>

            <div class="romDiv">
                <p class="bold">ROM (Internal Storage)</p>
                <div class="romList">
                    <div class="pad"><input type="radio"><label for="">4GB</label></div>
                    <div class="pad"><input type="radio"><label for="">8GB</label></div>
                    <div class="pad"><input type="radio"><label for="">16GB</label></div>
                    <div class="pad"><input type="radio"><label for="">32GB</label></div>
                    <div class="pad"><input type="radio"><label for="">64GB</label></div>
                    <div class="pad"><input type="radio"><label for="">128GB</label></div>
                    <div class="pad"><input type="radio"><label for="">256GB</label></div>
                </div>
            </div>

            <br><br>

            <div>
                <fieldset>
                    <p class="bold">Expandable Storage:</p>
                    <div>
                        <label>
                            No expandable storage
                            <input type="radio" name="expandable-storage" value="none">
                        </label>                   
                        <label>
                            microSD 128GB
                            <input type="radio" name="expandable-storage" value="microsd-128gb">
                        </label>
                        <label>
                            microSD 256GB
                            <input type="radio" name="expandable-storage" value="microsd-256gb">
                        </label>
                        <label>
                            microSD 512GB
                            <input type="radio" name="expandable-storage" value="microsd-512gb">
                        </label>
                        <label>
                            USB-C SSD
                            <input type="radio" name="expandable-storage" value="usb-c-ssd">
                        </label>
                        <!-- Add more expandable storage options as needed -->
                    </div>
                </fieldset>
            </div>
            
            <br>

           <div class="camQdiv">
                <p class="bold">CAMERA QUALITY (Megapixels)</p>
                <div class="camQlist">
                    <div class="pad"><input type="radio"><label for="">10 MP</label></div>
                    <div class="pad"><input type="radio"><label for="">20 MP</label></div>
                    <div class="pad"><input type="radio"><label for="">36 MP</label></div>
                    <div class="pad"><input type="radio"><label for="">48 MP</label></div>
                    <div class="pad"><input type="radio"><label for="">60 MP</label></div>
                    <div class="pad"><input type="radio"><label for="">100 MP</label></div>
                    <div class="pad"><input type="radio"><label for="">225 MP</label></div>
                </div>
           </div>

           <br>

           <div class="battPow">
                <p class="bold">BATTERY LIFE (mAh)</p>
                <div class="battList">
                    <div class="pad"><input type="radio"><label for="">2,000mAh</label></div>
                    <div class="pad"><input type="radio"><label for="">3,500mAh</label></div>
                    <div class="pad"><input type="radio"><label for="">4,000mAh</label></div>
                    <div class="pad"><input type="radio"><label for="">5,500mAh</label></div>
                    <div class="pad"><input type="radio"><label for="">6,000mAh</label></div>
                    <div class="pad"><input type="radio"><label for="">7,000mAh</label></div>
                    <div class="pad"><input type="radio"><label for="">10,000mAh</label></div>
                </div>
           </div>

           <div class="colorDiv">
                <p class="bold">COLOR</p>
                <div class="colorList">
                    <div class="pad"><input type="radio"><label for="">Red</label></div>
                    <div class="pad"><input type="radio"><label for="">Green</label></div>
                    <div class="pad"><input type="radio"><label for="">Blue</label></div>
                    <div class="pad"><input type="radio"><label for="">Black</label></div>
                    <div class="pad"><input type="radio"><label for="">Blue</label></div>
                    <div class="pad"><input type="radio"><label for="">White</label></div>
                    <div class="pad"><input type="radio"><label for="">Purple</label></div>
                </div>
           </div>
        </div>

        <div class="accessory" id="accessoriesDiv">
            <p class="accTitle">ACCESSORIES</p>

            <div class="munical sec">
                <p class="bold">TITLE</p>
                <div class="duv">
                    <input type="text" name="accName" id="ngv" placeholder="Enter item name">
                </div>
            </div>

            <div class="accName sec">
                <p class="bold">TYPE</p>
                <div class="accList duv">
                    <div class="pad"><input type="radio"><label for="">Headphones</label></div>
                    <div class="pad"><input type="radio"><label for="">Screen protectors</label></div>
                    <div class="pad"><input type="radio"><label for="">Smartwatches</label></div>
                    <div class="pad"><input type="radio"><label for="">Bluetooth speakers</label></div>
                    <div class="pad"><input type="radio"><label for="">Powerbanks</label></div>
                    <div class="pad"><input type="radio"><label for="">Selfie sticks</label></div>
                    <div class="pad"><input type="radio"><label for="">Wireless chargers</label></div>
                    <div class="pad"><input type="radio"><label for="">Camera mounts</label></div>
                    <div class="pad"><input type="radio"><label for="">Protective phons cases</label></div>
                    <div class="pad"><input type="radio"><label for="">Camera lens attachments</label></div>
                    <div class="pad"><input type="radio"><label for="">Cases</label></div>
                    <div class="pad"><input type="radio"><label for="">Water proof phone pouches</label></div>
                    <div class="pad"><input type="radio"><label for="">Car phone holder</label></div>
                    <div class="pad"><input type="radio"><label for="">Skins</label></div>
                    <div class="pad"><input type="radio"><label for="">Game controller</label></div>
                    <div class="pad"><input type="radio"><label for="">Memory card</label></div>
                    <div class="pad"><input type="radio"><label for="">Mobile phone Cable</label></div>
                    <div class="pad"><input type="radio"><label for="">Phone cleaning kits</label></div>
                    <div class="pad"><input type="radio"><label for="">Phone tripods</label></div>
                    <div class="pad"><input type="radio"><label for="">Stands</label></div>
                    <div class="pad"><input type="radio"><label for="">Stylus pens</label></div>
                    <div class="pad"><input type="radio"><label for="">Flip covers</label></div>
                    <div class="pad"><input type="radio"><label for="">Chargers</label></div>
                    <div class="pad"><input type="radio"><label for="">Mobile phone otg cable</label></div>
                </div>
            </div>

            <div class="accColor sec">
                <p class="bold">COLOR</p>
                <div class="accColorList duv">
                    <div class="pad"><input type="radio"><label for="">Red</label></div>
                    <div class="pad"><input type="radio"><label for="">Black</label></div>
                    <div class="pad"><input type="radio"><label for="">Blue</label></div>
                    <div class="pad"><input type="radio"><label for="">Pink</label></div>
                    <div class="pad"><input type="radio"><label for="">Silver</label></div>
                    <div class="pad"><input type="radio"><label for="">Black</label></div>
                    <div class="pad"><input type="radio"><label for="">green</label></div>
                    <div class="pad"><input type="radio"><label for="">Purple</label></div>
                </div>
            </div>
        </div>

        <a href="/publish" style="text-decoration: none;">
            <div class="publish">
                <div>PUBLISH</div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/></svg>
                </div>
            </div>
        </a>
        
    </main>

    <footer>
        <div id="ftx">
            <div id="terms">
                <a href="">Terms and conditions</a>
                <a href="">Privacy policies</a>
                <a href="">Payments protocol</a>
            </div>
            <div id="nlx">
                <div id="sbs">Subscribe to our newsletter</div>
                <div>
                    <form action="">
                        <label for="email">Email</label>
                        <input type="text">
                        <button>Submit</button>
                    </form>
                </div>
            </div>
            <div id="abt">
                <div class="center"><a href="">About Us</a></div>
                <div class="center" id="mail-link"><a href=""><i class="fa-solid fa-envelope"></i> minoe@gmail.com</a></div>
            </div>
        </div>
        <div id="line"></div>
        <div id="socials">
            <a href=""><img src="/img/icons/211902_social_facebook_icon.png" alt=""></a>
            <a href=""><img src="/img/icons/11244080_x_twitter_elon musk_twitter new logo_icon.png" alt=""></a>
            <a href=""><img src="/img/icons/1161953_instagram_icon.png" alt=""></a>
            <a href=""><img src="/img/icons/216394_linkedin_social_icon.png" alt=""></a>
            <a href=""><img src="/img/icons/8547041_tiktok_icon.png" alt=""></a>
            <a href=""><img src="/img/icons/thread-icon.png" alt=""></a>
        </div>
    </footer>


    <script src="/js/toggle.js"></script>
    <script src="/js/sell.js"></script>
</body>
</html>