<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell on Vixeloe</title>
    <link rel="stylesheet" href="/css/sell.css">
    <link rel="stylesheet" href="/css/scrollbar-design.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href=" /css/tooltipstyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <header>
        <div id="logo" class="tooltip-parent">
            <a href="/"><img src="/img/vixeloe-logo2b-removebg-preview.png" alt="logo"></a>
            <div class="tooltip-text">Home</div>
        </div>

        <div id="search">
            <input type="text" placeholder="Search for brands and products...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>


        <div id="svx">
            <div class="hmx">
                <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="purple"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg>
                </a>
            </div>
            <div id="toggle">
                <div id="togglebar"><i class="fa-solid fa-bars"></i></div>
                <div id="toggle-content">
                    <div id="cnl1" style="color: #fff">✖</div>
                    <div id="brands" class="vive">
                        <div id="brands-btnX">Brands▼</div>
                        <div id="hidden-brandsX">
                            <div id="cnlX">✖</div>
                            <a href="">Samsung</a>
                            <a href="">iPhone</a>
                            <a href="">Infinix</a>
                            <a href="">Tecno</a>
                            <a href="">Lenovo</a>
                            <a href="">Itel</a>
                            <a href="">Huawei</a>
                            <a href="">Gionee</a>
                            <a href="">Oppo</a>
                            <a href="">Sony</a>
                        </div>
                    </div>
                    <div class="vive">
                        <a href="/listings">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M360-240h440v-107H360v107ZM160-613h120v-107H160v107Zm0 187h120v-107H160v107Zm0 186h120v-107H160v107Zm200-186h440v-107H360v107Zm0-187h440v-107H360v107ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Z"/></svg>
                        </a>
                    </div>
                    <div id="notification" class="vive"><a href=""><i class="fa-solid fa-bell"></i></a></div>
                </div>
            </div>
        </div>

        <div id="nav">
            <div class="tooltip-parent hmxX">
                <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg>
                </a>
                <div class="tooltip-text">Home</div>
            </div>

            <div id="brands">
                <div id="brands-btn">Brands▼</div>
                <div id="hidden-brands">
                    <div id="cnl">✖</div>
                    <a href="">Samsung</a>
                    <a href="">iPhone</a>
                    <a href="">Infinix</a>
                    <a href="">Tecno</a>
                    <a href="">Lenovo</a>
                    <a href="">Itel</a>
                    <a href="">Huawei</a>
                    <a href="">Gionee</a>
                    <a href="">Oppo</a>
                    <a href="">Sony</a>
                </div>
            </div>
            <div id="ads" class="tooltip-parent">
                <a href="/listings">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#30b9c0"><path d="M360-240h440v-107H360v107ZM160-613h120v-107H160v107Zm0 187h120v-107H160v107Zm0 186h120v-107H160v107Zm200-186h440v-107H360v107Zm0-187h440v-107H360v107ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Z"/></svg>
                </a>
                <div class="tooltip-text">Listings</div>
            </div>
            <div id="notification" class="tooltip-parent">
                <a href="./notification.html"><i class="fa-solid fa-bell"></i></a>
                <div class="tooltip-text" id="ntf">Notifications</div>
            </div>
        </div>
    </header>
    <main>
        <div class="content">
            <p class="topic">Publish an Item <svg id="svgupload" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M440-160v-326L336-382l-56-58 200-200 200 200-56 58-104-104v326h-80ZM160-600v-120q0-33 23.5-56.5T240-800h480q33 0 56.5 23.5T800-720v120h-80v-120H240v120h-80Z"/></svg></p>

        <form id="sellForm" onsubmit="submitProduct(event)" method="POST">
            <h2>Publish as:-</h2>
            <div class="publish-opt">
                <div id="popt-1" class="optionF">Business</div>
                <div id="popt-2" class="optionF">Individual</div>
            </div>

            <div class="option-field" id="option-field">
                <input type="text" placeholder="Business name">
                <input type="address" placeholder="Address">
            </div>


            <p class="headText">ITEM DETAILS</p>

            <div class="cate">
                <p class="bold">CATEGORY</p>
                    <div class="bag">
                        <div><input type="radio" name="category" value="phone" id="phone"><label for="phone">Phones</label></div>
                        <div><input type="radio" name="category" value="accessories" id="accessories"><label for="accessories">Accessories</label></div>
                    </div>
            </div>

            <div class="title">
                <p class="bold"><label for="">TITLE</label></p>
                <div class="bag">
                    <input type="text" name="title" class="hold" placeholder="Enter item name">
                </div>
            </div>

            <div id="price">
                <p class="bold"><label for="">PRICE</label></p>
                <div class="bag">
                    <span>₦</span><input type="number" name="price" class="hold" placeholder="Enter price">
                </div>
            </div>


            <div id="location">
                <p>LOCATION</p>
                <div class="select-wrapper">
                    <select name="state" id="state" aria-label="Select a state" class="scrollable">
                        <option value="" disabled selected hidden>Select State</option>
                        <!-- State options will be populated by JavaScript -->
                    </select>
                </div>
                <div class="select-wrapper">
                    <select name="lcda" id="lcda" aria-label="Select an LCDA">
                        <option value="" disabled selected hidden>Select LCDA</option>
                        <!-- LCDA options will be populated by JavaScript -->
                    </select>
                </div>
                <p id="locationDisplay"></p>
            </div>
            
               
            

            <div class="picDiv">
                <p class="bold">PICTURES</p>
                    <div class="picMethod">
                        <div class="picDivX">
                            <div class="camera log">
                                <input type="file" name="camera" id="camEra" style="display: none;" accept="image/*" capture="camera">
                                <label for="camEra">
                                    <div class="camIcon"><i class="fa-solid fa-camera"></i></div>
                                    <div class="camText">Take picture(s)</div>
                                </label>
                            </div>
                            <div class="gallery log">
                                <input type="file" name="gallery" id="gallEry" style="display: none;" multiple accept="image/*">
                                <label for="gallEry">
                                    <div class="uploadIcon"><i class="fa-solid fa-upload"></i></div>
                                    <div class="uploadText">Upload file(s)</div>
                                </label>
                            </div>
                        </div>
                        <div class="picImg">
                            <div id="divImg1">
                                <!-- Uploaded images would be added dynamically -->
                            </div>
                        </div>
                    </div>
            </div>

        </div>

        <div class="phoneDiv" id="phoneDiv">
            <div class="phoneBrands">
                <p class="bold">BRANDS</p>
                <div class="phoneBrandsSelect">
                    <div class="phBrs1 vvh">
                        <div class="pad"><input type="radio" name="brands" id="tecno"><label for="tecno">Tecno</label></div>
                        <div class="pad"><input type="radio" name="brands" id="infinix"><label for="infinix">Infinix</label></div>
                        <div class="pad"><input type="radio" name="brands" id="samsung"><label for="samsung">Samsung</label></div>
                        <div class="pad"><input type="radio" name="brands" id="lenovo"><label for="lenovo">Lenovo</label></div>
                        <div class="pad"><input type="radio" name="brands" id="iphone"><label for="iphone">iPhone</label></div>
                    </div>
                    <div class="phBrs2 vvh">
                        <div class="pad"><input type="radio" name="brands" id="nokia"><label for="nokia">Nokia</label></div>
                        <div class="pad"><input type="radio" name="brands" id="itel"><label for="itel">Itel</label></div>
                        <div class="pad"><input type="radio" name="brands" id="oppo"><label for="oppo">Oppo</label></div>
                        <div class="pad"><input type="radio" name="brands" id="redmi"><label for="redmi">Redmi</label></div>
                        <div class="pad"><input type="radio" name="brands" id="sony"><label for="sony">Sony</label></div>
                    </div>
                </div>
            </div>



            <div>
                <fieldset>
                    <p class="bold">PROCESSORS</p> 
                    <p class="moi">Select options(s)</p>
 
                    <div>                  
                        <label>
                            Intel Core i3
                            <input type="checkbox" name="processor" value="intel-i3">
                        </label>                
                        <label>
                            Intel Core i5
                            <input type="checkbox" name="processor" value="intel-i5">
                        </label>                   
                        <label>
                            Intel Core i7
                            <input type="checkbox" name="processor" value="intel-i7">
                        </label>               
                        <label>
                            Intel Core i9
                            <input type="checkbox" name="processor" value="intel-i9">
                        </label>               
                        <label>
                            AMD Ryzen 3
                            <input type="checkbox" name="processor" value="amd-ryzen-3">
                        </label>
                        <label>
                            AMD Ryzen 5
                            <input type="checkbox" name="processor" value="amd-ryzen-5">
                        </label>                   
                        <label>
                            AMD Ryzen 7
                            <input type="checkbox" name="processor" value="amd-ryzen-7">
                        </label>                    
                        <label>
                            AMD Ryzen 9
                            <input type="checkbox" name="processor" value="amd-ryzen-9">
                        </label>                   
                        <label>
                            Apple M1
                            <input type="checkbox" name="processor" value="apple-m1">
                        </label>                   
                        <label>
                                Qualcomm Snapdragon 8xx series
                            <input type="checkbox" name="processor" value="qualcomm-snapdragon-8xx">
                        </label>                    
                        <!-- Add more options as needed -->    
                    </div>                
                </fieldset>
            </div>

            <br>


            <div class="ramDiv">
                <p class="bold">RAM (Working Memory)</p>
                <div class="ramList">
                    <div class="pad"><input type="radio" name="ram" id="1gb" value="1gb"><label for="1gb">1GB</label></div>
                    <div class="pad"><input type="radio" name="ram" id="2gb" value="2gb"><label for="2gb">2GB</label></div>
                    <div class="pad"><input type="radio" name="ram" id="3gb" value="3gb"><label for="3gb">3GB</label></div>
                    <div class="pad"><input type="radio" name="ram" id="4gb" value="4gb"><label for="4gb">4GB</label></div>
                    <div class="pad"><input type="radio" name="ram" id="6gb" value="6gb"><label for="6gb">6GB</label></div>
                    <div class="pad"><input type="radio" name="ram" id="8gb" value="8gb"><label for="8gb">8GB</label></div>
                    <div class="pad"><input type="radio" name="ram" id="16gb" value="16gb"><label for="16gb">16GB</label></div>
                </div>
            </div>

            <br>

            <div class="romDiv">
                <p class="bold">ROM (Internal Storage)</p>
                <div class="romList">
                    <div class="pad"><input type="radio" name="rom" id="4gbx" value="4gbx"><label for="4gbx">4GB</label></div>
                    <div class="pad"><input type="radio" name="rom" id="8gbx" value="8gbx"><label for="8gbx">8GB</label></div>
                    <div class="pad"><input type="radio" name="rom" id="16gbx" value="16gbx"><label for="16gbx">16GB</label></div>
                    <div class="pad"><input type="radio" name="rom" id="32gbx" value="32gbx"><label for="32gbx">32GB</label></div>
                    <div class="pad"><input type="radio" name="rom" id="64gbx" value="64gbx"><label for="64gbx">64GB</label></div>
                    <div class="pad"><input type="radio" name="rom" id="128gbx" value="128gbx"><label for="128gbx">128GB</label></div>
                    <div class="pad"><input type="radio" name="rom" id="256gbx" value="256gbx"><label for="256gbx">256GB</label></div>
                </div>
            </div>

            <br><br>

            <div>
                <fieldset>
                    <p class="bold">EXPANDABLE STORAGE</p>
                    <div>
                        <label>
                            No expandable storage
                            <input type="radio" name="expandable-storage" value="none">
                        </label>                   
                        <label>
                            microSD 128GB
                            <input type="radio" name="expandable-storage" value="microsd-128gb">
                        </label>
                        <label>
                            microSD 256GB
                            <input type="radio" name="expandable-storage" value="microsd-256gb">
                        </label>
                        <label>
                            microSD 512GB
                            <input type="radio" name="expandable-storage" value="microsd-512gb">
                        </label>
                        <label>
                            USB-C SSD
                            <input type="radio" name="expandable-storage" value="usb-c-ssd">
                        </label>
                        <!-- Add more expandable storage options as needed -->
                    </div>
                </fieldset>
            </div>
            
            <br>

           <div class="camQdiv">
                <p class="bold">CAMERA QUALITY (Megapixels)</p>
                <div class="camQlist">
                    <div class="pad"><input type="radio" name="camQ" id="cam1" value="10mp"><label for="cam1">10 MP</label></div>
                    <div class="pad"><input type="radio" name="camQ" id="cam2" value="20mp"><label for="cam2">20 MP</label></div>
                    <div class="pad"><input type="radio" name="camQ" id="cam3" value="36mp"><label for="cam3">36 MP</label></div>
                    <div class="pad"><input type="radio" name="camQ" id="cam4" value="48mp"><label for="cam4">48 MP</label></div>
                    <div class="pad"><input type="radio" name="camQ" id="cam5" value="60mp"><label for="cam5">60 MP</label></div>
                    <div class="pad"><input type="radio" name="camQ" id="cam6" value="100mp"><label for="cam6">100 MP</label></div>
                    <div class="pad"><input type="radio" name="camQ" id="cam7" value="225mp"><label for="cam7">225 MP</label></div>
                </div>
           </div>

           <br>

           <div class="battPow">
                <p class="bold">BATTERY LIFE (mAh)</p>
                <div class="battList">
                    <div class="pad"><input type="radio" name="battPow" id="battPow1" value="2000mah"><label for="battPow1">2,000mAh</label></div>
                    <div class="pad"><input type="radio" name="battPow" id="battPow2" value="3500mah"><label for="battPow2">3,500mAh</label></div>
                    <div class="pad"><input type="radio" name="battPow" id="battPow3" value="4000mah"><label for="battPow3">4,000mAh</label></div>
                    <div class="pad"><input type="radio" name="battPow" id="battPow4" value="5500mah"><label for="battPow4">5,500mAh</label></div>
                    <div class="pad"><input type="radio" name="battPow" id="battPow5" value="6000mah"><label for="battPow5">6,000mAh</label></div>
                    <div class="pad"><input type="radio" name="battPow" id="battPow6" value="7000mah"><label for="battPow6">7,000mAh</label></div>
                    <div class="pad"><input type="radio" name="battPow" id="battPow7" value="10000mah"><label for="battPow7">10,000mAh</label></div>
                </div>
           </div>


           <div class="chargingType">
                <p class="bold">CHARGING TYPE</p>
                <div class="typeList">
                    <div class="pad">
                        <input type="radio" id="charging-type0" name="charging-type" value="wired"><label for="charging-type0">Wired Charging</label>
                    </div>
                    <div class="pad">
                        <input type="radio" id="charging-type1" name="charging-type" value="wireless"><label for="charging-type1">Wireless Charging</label>
                    </div>
                    <div class="pad">
                        <input type="radio" id="charging-type2" name="charging-type" value="both"><label for="charging-type2">Both</label>
                    </div>
                </div>
           </div>

           <div class="networkDiv">
            <p class="bold">NETWORK</p>
            <div class="networkList">
                <div class="pad"><input type="radio" name="network" id="2g" value="2g"><label for="2g">2G</label></div>
                <div class="pad"><input type="radio" name="network" id="3g" value="3g"><label for="3g">3G</label></div>
                <div class="pad"><input type="radio" name="network" id="4g" value="4g"><label for="4g">4G</label></div>
                <div class="pad"><input type="radio" name="network" id="5g" value="5g"><label for="5g">5G</label></div>
                <div class="pad"><input type="radio" name="network" id="lte" value="lte"><label for="lte">LTE</label></div>
            </div>
           </div>

           <div class="simDiv">
            <p class="bold">SIM TYPE</p>
            <div class="simList">
                <div class="pad">
                    <input type="radio" name="sim" id="single" value="single"><label for="single">Single SIM</label>
                </div>
                <div class="pad">
                    <input type="radio" name="sim" id="dual" value="dual"><label for="dual">Dual SIM</label>
                </div>
                <div class="pad">
                    <input type="radio" name="sim" id="esim" value="esim"><label for="esim">eSIM</label>
                </div>
                <div class="pad">
                    <input type="radio" name="sim" id="single-esim" value="single-esim"><label for="single-esim">Single SIM + eSIM</label>
                </div>
                <div class="pad">
                    <input type="radio" name="sim" id="dual_esim" value="dual_esim"><label for="dual_esim">Dual SIM + eSIM</label>
                </div>
            </div>
           </div>


        
        <div class="sensorsDiv">
            <p class="bold">SENSORS</p>
            <p class="moi">Select options(s)</p>
            <div class="sensorsList">
                <div class="pad">
                    <input type="checkbox" id="none" name="sensors" value="none">
                    <label for="none"> none</label>
                </div>
                <div class="pad">
                    <input type="checkbox" id="sensor-fingerprint" name="sensors" value="fingerprint">
                    <label for="sensor-fingerprint">Fingerprint Sensor</label>
                </div>
                <div class="pad">
                    <input type="checkbox" id="sensor-face-unlock" name="sensors" value="face-unlock">
                    <label for="sensor-face-unlock">Face Unlock</label>
                </div>
                <div class="pad">
                    <input type="checkbox" id="both" name="sensors" value="both">
                    <label for="both">Both</label>
                </div>
            </div>
        </div>
        
        
        
        <div class="specialFeaturesDiv">
            <p class="bold">SPECIAL FEATURES</p>
            <p class="moi">Select options(s)</p>

            <div class="specialFeaturesList">             
                <div class="pad">
                    <input type="checkbox" id="special-feature-wireless-charging" name="special-features" value="wireless-charging">
                    <label for="special-feature-wireless-charging">Wireless Charging</label>
                </div>
                <div class="pad">
                    <input type="checkbox" id="special-feature-reverse-wireless-charging" name="special-features" value="reverse-wireless-charging">
                    <label for="special-feature-reverse-wireless-charging">Reverse Wireless Charging</label>
                </div>
                
                <div class="pad">
                    <input type="checkbox" id="special-feature-5g" name="special-features" value="5g">
                    <label for="special-feature-5g">5G Support</label>
                </div>
                <div class="pad">
                    <input type="checkbox" id="special-feature-face-recognition" name="special-features" value="face-recognition">
                    <label for="special-feature-face-recognition">Face Recognition</label>
                </div>
                <div class="pad">
                    <input type="checkbox" id="special-feature-ar" name="special-features" value="ar">
                    <label for="special-feature-ar">Augmented Reality (AR)</label>
                </div>
                <div class="pad">
                    <input type="checkbox" id="special-feature-vr" name="special-features" value="vr">
                    <label for="special-feature-vr">Virtual Reality (VR)</label>
                </div>
                <div class="pad">
                    <input type="checkbox" id="special-feature-thermal-camera" name="special-features" value="thermal-camera">
                    <label for="special-feature-thermal-camera">Thermal Camera</label>
                </div>
            </div>
        </div>
        


        <div class="colorDiv">
            <p class="bold">COLOR</p>
            <div class="color-picker-wrapper">
                <input type="color" name="color" id="colorBar" class="color-input">
            </div>
        </div>
        
        </div>

        <div class="accessory" id="accessoriesDiv">
            <p class="accTitle">ACCESSORIES</p>
        
            <div class="munical sec">
                <p class="bold">ACCESSORY TYPE</p>
                <select id="accessoryType" class="select-styled">
                    <option value="">Select an accessory type</option>
                    <option value="headphones">Headphones</option>
                    <option value="screenProtector">Screen Protector</option>
                    <option value="phoneCase">Phone Case</option>
                    <option value="charger">Charger</option>
                    <option value="powerBank">Power Bank</option>
                    <option value="selfieStick">Selfie Stick</option>
                    <option value="wirelessCharger">Wireless Charger</option>
                    <option value="bluetoothSpeaker">Bluetooth Speaker</option>
                    <option value="smartWatch">Smart Watch</option>
                    <option value="memoryCard">Memory Card</option>
                    <option value="others">Others</option>
                </select>
            </div>
        
            <div id="accessoryDetails"></div>
        </div>

        <button type="submit" style="text-decoration: none;" id="s-btn">
            <div class="publish">
                <div>PUBLISH</div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/></svg>
                </div>
            </div>
        </button>

    </form>
        
    </main>

    <footer>
        <div id="ftx">
            <div id="terms">
                <a href="">Terms and conditions</a>
                <a href="">Privacy policies</a>
                <a href="">Payments protocol</a>
            </div>
            <div id="nlx">
                <div id="sbs">Subscribe to our newsletter</div>
                <div>
                    <form action="">
                        <label for="email">Email</label>
                        <input type="text">
                        <button>Submit</button>
                    </form>
                </div>
            </div>
            <div id="abt">
                <div class="center"><a href="">About Us</a></div>
                <div class="center" id="mail-link"><a href=""><i class="fa-solid fa-envelope"></i> minoe@gmail.com</a></div>
            </div>
        </div>
        <div id="line"></div>
        <div id="socials">
            <a href=""><img src="/img/icons/211902_social_facebook_icon.png" alt=""></a>
            <a href=""><img src="/img/icons/11244080_x_twitter_elon musk_twitter new logo_icon.png" alt=""></a>
            <a href=""><img src="/img/icons/1161953_instagram_icon.png" alt=""></a>
            <a href=""><img src="/img/icons/216394_linkedin_social_icon.png" alt=""></a>
            <a href=""><img src="/img/icons/8547041_tiktok_icon.png" alt=""></a>
            <a href=""><img src="/img/icons/thread-icon.png" alt=""></a>
        </div>
    </footer>


    <script src="/js/toggle.js"></script>
    <script src="/js/sell.js"></script>
    <script src="/js/tooltipstyles.js"></script>
</body>
</html>